.wrapper {
  background-color: var(--color-primary);
  padding: 1rem;
}

.navbar {
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center; /* Ensures vertical centering */
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  align-items: center; /* Centers the logo vertically */
  margin-left: 1rem; /* Adds space to the left */
  cursor: pointer;
}

.searchWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navButton {
  cursor: pointer;
  background-color: var(--color-black); /* Black background */
  color: var(--color-green); /* Green text color */
  font-family: "Poppins", sans-serif; /* Poppins font */
  border: none;
  border-radius: 8px; /* Adds border-radius */
  font-size: 16px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

.navButton:hover {
  cursor: pointer; /* Changes cursor to pointer on hover */
  background-color: var(--color-dark-gray); /* Example hover effect */
  transform: scale(1.05); /* Slightly enlarges button */
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navButton {
    font-size: 14px;
    padding: 0.5rem 0.75rem;
  }
}

@media (max-width: 913px) {
  .searchWrapper {
    display: none; /* Hides search bar on smaller screens */
  }
}
